@charset "utf-8";

/* Resets */

/* Box Sizing Reset */
*,
*:before,
*:after {
    box-sizing: border-box;
}
/* Img reset */
img {
    max-width: 100%;
    height: auto;
}
/* page body setting */
p {
    line-height: 1.4;
    font-size: 1.2em;
}

body {
    color: white;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background-color: #5e5b5b;
}

/* Page wrap styles */
.wrapper {
    
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    
}
nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.card ul {
    /* max-width: 500px; */
    list-style-type: none;

    display: flex;
    justify-content: space-between;
}
.card li{
    width: 300px;
    margin: 20px;
    background-color: grey;
}
.card img{
    display: flex;
    justify-content: center;
}